@model IEnumerable<CompanyProject.API.Infrastructure.Dto.ParagraphDto>

@foreach (var p in Model)
{
    var isSimpleParagraph = !p.IsGlobalTitle && !p.IsSubtitle;
    if (p.IsGlobalTitle)
    {
        <div class="columns">
            <div class="column is-full">
                @foreach (var cnt in p.Content)
                {
                    <h2 class="title is-2">@(new HtmlString(cnt))</h2>
                }
            </div>
        </div>
    }
    else if (p.Content[0] == "_NeedHelpAndPicturePartial")
    {
        <div class="columns is-vcentered">
            <div class="column is-half">
                <vc:blockquote-section name="NeedHelp"/>
            </div>
            <div class="column is-half is-hidden-touch">
                <div class="image displayed" style="max-width: 60%;">
                    <img src="~/Resources/Images/computer_devushka.png" asp-append-version="true"/>
                </div>
            </div>
        </div>
    }
    else if (p.IsSubtitle)
    {
        <div class="columns">
            <div class="column is-full">
                @foreach (var cnt in p.Content)
                {
                    <h3 class="subtitle is-3 is-black">@(new HtmlString(cnt))</h3>
                }
            </div>
        </div>
    }
    else if (isSimpleParagraph)
    {
        <div class="columns">
            @if (p.HasPicture)
            {
                <div class="column is-text-justify" style="padding-top: 0px;">
                    @if (p.IsList)
                    {
                        <div class="content">
                            <ul>
                                @foreach (var cnt in p.Content)
                                {
                                    <li>@(new HtmlString(cnt))</li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        @foreach (var cnt in p.Content)
                        {
                            <span>@(new HtmlString(cnt))</span>
                        }
                    }
                </div>
                <div class="column  is-hidden-touch" style="padding-top: 0px;">
                    <div class="image displayed" style="max-width: 30%;">
                        <img src="@p.PicturePath" asp-append-version="true"/>
                    </div>
                </div>
            }
            else
            {
                <div class="column is-full is-text-justify" style="padding-top: 0px;">
                    @if (p.IsList)
                    {
                        <div class="content">
                            <ul>
                                @foreach (var cnt in p.Content)
                                {
                                    <li>@(new HtmlString(cnt))</li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        @foreach (var cnt in p.Content)
                        {
                            <span>@(new HtmlString(cnt))</span>
                        }
                    }
                </div>
            }
        </div>
    }
}