@model IEnumerable<CompanyProject.Domain.ParagraphAggregate.Paragraph>

@foreach (var p in Model)
{
    var isSimpleParagraph = !p.IsGlobalTitle && !p.IsSubtitle;
    if (p.IsGlobalTitle)
    {
        <div class="columns">
            <div class="column is-full">
                @foreach (var cnt in p.Content)
                {
                    <h2 class="title is-2">@cnt</h2>
                }
            </div>
        </div>
    }
    else if (p.Content[0] == "NeedHelpAndPicturePV")
    {
        <partial name="ContentViews/PartialView/NeedHelpAndPicturePV" />
    }
    else if (p.IsSubtitle)
    {
        <div class="columns">
            <div class="column is-full">
                @foreach (var cnt in p.Content)
                {
                    <h3 class="subtitle is-3">@cnt</h3>
                }
            </div>
        </div>
    }
    else if (isSimpleParagraph)
    {
        <div class="columns">
            @if (p.HasPicture)
            {
                <div class="column " style="padding-top: 0px;">
                    @if (p.IsList)
                    {
                        <div class="content">
                            <ul>
                                @foreach (var cnt in p.Content)
                                {
                                    <li>@cnt</li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        @foreach (var cnt in p.Content)
                        {
                            <span>@cnt</span>
                        }
                    }
                </div>
                <div class="column  is-hidden-touch" style="padding-top: 0px;">
                    <div class="image displayed" style="max-width: 30%;">
                        <img src="@p.PicturePath" asp-append-version="true" />
                    </div>
                </div>
            }
            else
            {
                <div class="column is-full" style="padding-top: 0px;">
                    @if (p.IsList)
                    {
                        <div class="content">
                            <ul>
                                @foreach (var cnt in p.Content)
                                {
                                    <li>@cnt</li>
                                }
                            </ul>
                        </div>
                    }
                    else
                    {
                        @foreach (var cnt in p.Content)
                        {
                            <span>@cnt</span>
                        }
                    }
                </div>
            }
        </div>
    }
}


